@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./variables.scss";

@import "./../node_modules/react-toastify/scss/main.scss";
@import "./../node_modules/react-loading-skeleton/dist/skeleton.css";
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Montserrat";
    color: #00004d;
    background-color: #f4f9ff;
    height: 100%;
}

.export {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

button {
    &:disabled {
        @apply bg-gray-300 cursor-not-allowed;
    }

    @apply hover:shadow-lg transition-all;
}

input {
    @apply transition-all;
}

a.primary {
    @apply text-primary hover:border-b transition-all hover:border-primary cursor-pointer;
}

.table-default {
    @apply w-full;
    thead {
        tr {
            @apply text-left text-xs  uppercase;

            th {
                &:first-child {
                    @apply pl-2;
                }

                @apply border-b  pb-2;
            }
        }
    }

    tbody {
        tr {
            &:first-child {
                td {
                    @apply pt-2;
                }
            }

            td {
                &:first-child {
                    @apply pl-2;
                }

                @apply py-1.5;
            }

            &:hover {
                td {
                }
            }
        }
    }
}

.card-full {
    min-height: calc(100vh - 130px);
}

[data-theme="dark"] {
    .light-theme-hidden {
        display: none;
    }
}

[data-theme="light"] {
    .dark-theme-hidden {
        display: none;
    }
}

.rdt_TableCol_Sortable span {
    color: #00004d;
}

.rdt_Pagination>div>svg:first-of-type {
    display: none !important;
}

.ql-align-center {
    text-align: center;
}

.ql-align-left {
    text-align: left;
}

.ql-align-right {
    text-align: right;
}

.ql-align-justify {
    text-align: justify;
}

.no-border {
    border: none !important;
}